@{
    ViewData["Title"] = "Index";
}

<h1>Character management</h1>

<ul class="nav">
    <li class="nav-item">
        <a asp-action="edit" asp-route-id="" class="nav-link">New character</a>
    </li>
</ul>

<ul>
    <li>Character1</li>
    <li>Character2</li>
    <li>Character3</li>
</ul>