@{
    ViewData["Title"] = "Home Page";
}

<h1>Role playing game management for Star Wars</h1>

<div class="col-6">
    <h2>Registries</h2>
    <p>
        <ul class="nav">
            <li class="nav-item">
                <a asp-controller="Character" asp-action="Index" class="nav-link">Characters management</a>
            </li>
            <li>

            </li>
        </ul>
    </p>
</div>
