@{
    ViewData["Title"] = "Home Page";
}

<h1>Role playing game management for Star Wars</h1>

<div class="col-6">
    <h2>Registries</h2>
    <p>
        <ul>
            <li>
                <a asp-controller="Character">Characters management</a>
            </li>
            <li>

            </li>
        </ul>
    </p>
</div>
